@font-face {
    font-family: "Nexa Light"; 
    src: url("/fonts/Nexa Light.otf") format("opentype");
}
/* Giving the pages their fonts... teehee I love the JSB font <3 */
@font-face {
    font-family: "Nexa Bold"; 
    src: url("/fonts/Nexa Bold.otf") format("opentype");
}

body {
	background: #001112;
	color: #f7f5f5;
	font-family: Nexa Light;
	font-size: 15px;
}

h1, h3 {
	text-transform: uppercase;
}

#bgholder { /* Background image on pages */
  background: url("/BG_jsb.png") fixed;
  background-size: cover;
  position:fixed;
  top:-10px;
  left:-10px;
  bottom:-10px;
  right:-10px;
}

#/bgholder:after { /* Blur effect on the page background image. Good for flashy gifs */
    content:'';
    position:fixed;
    top:-15px;
    left:-15px;
    bottom:-15px;
    right:-15px;
    -webkit-filter:blur(8px);
    -moz-filter:blur(8px);
    -ms-filter:blur(8px);
    filter:blur(8px);
    background: url("/BG_zoneL.gif") fixed;
    background-size: cover;
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05);
}

 #header { /* Sticky at the top of the page */
  position: -webkit-sticky;
  
}

.title { /* Text portion of the page header title: "No Shape Left Behind" */
  text-transform: uppercase;
  font-family: Nexa Bold;
  font-size: 17.5px;
  transform: skew(20deg);
  margin-left: 100px;
}

#ttl { /* Shaped background-block of the header title */
  display: inline-block;
  vertical-align: middle;
  width: 580px;
	height: 80px;
	transform: skew(-20deg);
	margin-left: -25px;
	background: #00ffff55;
}

.details { /* Text portion of the page header details: "A, B, C..." */
  color: #00ffff;
  transform: skew(20deg);
  padding-left: 10px;
}

#dtls { /* Shaped background-block of the header details */
  vertical-align: middle;
  display: inline-block;
  width: 400px;
	height: 65px;
	transform: skew(-20deg);
	background: #00ffff22;
}

#desc { /* Description text below the header stuff. Doesn't stick. */
  position: relative;
  margin: 0px 50px 0px 50px;
}

#main { /* Description text below the header stuff. Doesn't stick. */
  position: relative;
  margin: 0px 50px 0px 50px;
}

/* --- IMPORTANT CATAGORY --- */
#important { /* Alt to #main, but like in the center of the screen. */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#imp-title { /* Description text below the header stuff. Doesn't stick. */
  position: relative;
  text-align:center;
  color: #00ffff;
  font-size: 30px;
  text-transform: uppercase;
  
}

#imp-text { /* Description text below the header stuff. Doesn't stick. */
  position: relative;
  margin: 0px 50px 0px 50px;
  font-size: 20px;
}

/* --- MISC CATAGORY --- */
#line-div {
  content: url("/img/DIV_rainbstrip.png");
  position: relative;
  width: 99vw;
}