#trkheader {
	position: relative; 
	color: #00ffff;
	background: #000000;
	height: 50px;
	width: 100%;
	padding: 5px;
	border-bottom: 2.5px solid;
	border-color: #00ffff;
	margin-bottom: 5px;
	font-size: 20px;
}

#trklist {
	position: relative; 
	color: #00ffff;
	border-left: 2.5px solid;
	border-right: 2.5px solid;
	border-color: #00ffff;
	top: 0;
	width: 100%;
	height: auto;
	padding: 5px;
	padding-top: 5px;
}

.track {
	position: relative; 
	color: #0e9aa1;
	padding: 6px;
	height: auto;
	font-size: 20px;
	border-bottom: 2.5px solid;
	border-color: #06474A;
	margin-bottom: 5px;
}

.track:hover {
	background: #06474AC7;
	color: #15cbd4;
	animation: ease-out;
	animation-name: cardhover;
	animation-duration: 0.15s;
}
@keyframes cardhover {
0%   {background-color: #06474A;
      margin-left: 15px;
      color: #ffffff;
	}
100% {background-color: #06474AC7;
      margin-left: 0px;
      color: #15cbd4;
	}
}

.details {
	display:none;
}